<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="bd_bibliotecaConnectionString" connectionString="Data Source=localhost;Initial Catalog=bd_biblioteca;Persist Security Info=True;User ID=sa;Password=crislyn;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <!-- <add name="bd_bibliotecaConnectionString" connectionString="Data Source=173.248.151.67,1533;Initial Catalog=bd_biblioteca;Persist Security Info=True;User ID=binimeli;Password=210394Freeza;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/> -->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.8.1">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages maintainScrollPositionOnPostBack="true"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>