.uk-accordion-content {
    text-align: right
}

.uk-navbar-nav > li > a {
    position: relative;
    color: #000;
    text-decoration: none;
}

    .uk-navbar-nav > li > a:hover {
        color: #000;
    }

    .uk-navbar-nav > li > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .uk-navbar-nav > li > a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

#ContentPlaceHolder1_Cover {
    filter: blur(5px);
}

#Contenido {
    filter: none;
    z-index: 9999;
}
